<h3>Create a new project</h3>

<form action="/projects/create" method="POST">
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name="name">
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="description"
                name="description"></textarea>
            <label class="mdl-textfield__label" for="description">Description</label>
        </div>
    </div>
    <a href="/projects" class="mdl-button mdl-js-button mdl-button--raised">
        Back
    </a>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Create
    </button>
</form>